# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.idea

!.idea/icon.svg

run
.DS_Store
.architectury-transformer

# Eclipse
**/.metadata
**/.settings
**/.classpath
**/.project